.download-button {
     background: #428bca;
     border: 0;
     padding: 10px 30px;
     color: #fff;
     transition: 0.4s;
     margin-top: 48px;
}

.download-button:hover {
     background: #629fd3;
}